@using QOS.Helpers
@{
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/menu_left.css" />
<div class="container-fluid p-0">
    <div class="row g-0">
        <!-- Mobile Menu Button -->
        <div class="col-12 d-md-none p-3">
            <button class="btn mobile-menu-btn w-100" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuSidebar">
                ☰ Menu 
            </button>
        </div>

        <!-- Desktop Sidebar -->
        <div class="col-md-2 d-none d-md-block modern-sidebar">
            <div class="sidebar-header">
                <h3><span class="feature-icon">📋</span> THIẾT LẬP</h3>
            </div>

            <ul class=" list-unstyled list-group list-group-flush">
                <li class="menu-item">
                    <a class="menu-link @Html.IsActive(new[] { "Setting" }, new[] { "FactoryList" })" asp-controller="Setting" asp-action="FactoryList">1-Danh sách nhà máy</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link @Html.IsActive(new[] { "Setting" }, new[] { "DepartmentList" })" asp-controller="Setting" asp-action="DepartmentList">2-Danh sách phòng ban</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link @Html.IsActive(new[] { "Setting" }, new[] { "UnitList" })" asp-controller="Setting" asp-action="UnitList">3-Danh sách xưởng</a>
                </li>
        </ul>
    </div>
    <div class="col-10">
        @RenderBody()
    </div>
</div>

<!-- Offcanvas cho mobile -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="menuSidebar">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">TÍNH NĂNG</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="list-group list-group-flush">
            <li class="menu-item">
                <a class="menu-link @Html.IsActive(new[] { "Setting" }, new[] { "FactoryList" })" asp-controller="Setting" asp-action="FactoryList">1-Danh sách nhà máy</a>
            </li>
            <li class="menu-item">
                <a class="menu-link @Html.IsActive(new[] { "Setting" }, new[] { "DepartmentList" })" asp-controller="Setting" asp-action="DepartmentList">2-Danh sách phòng ban</a>
            </li>
            <li class="menu-item">
                <a class="menu-link @Html.IsActive(new[] { "Setting" }, new[] { "UnitList" })" asp-controller="Setting" asp-action="UnitList">3-Danh sách xưởng</a>
            </li>
        </ul>
    </div>
</div>