@using QOS.Helpers
@{
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="row">
        <!-- Nút bấm mở menu -->
        <div class="col-12 d-md-none mb-2">
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuSidebar">
                ☰ Menu
            </button>
        </div>

        <!-- Sidebar cho desktop (luôn hiện) -->
        <div class="col-md-2 bg-light d-none d-md-block">
            <h3 class="mt-2">TÍNH NĂNG</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a class="nav-link @Html.IsActive(new[] { "ManageOperation" }, new[] { "Index" })" asp-controller="Function" asp-action="F_ManageOperation">1- Quản Lý Công Đoạn</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link @Html.IsActive(new[] { "ManageFault" }, new[] { "Index" })" asp-controller="Function" asp-action="F_ManageFault">2- Quản Lý DS Lỗi</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link @Html.IsActive(new[] { "ThongSoBTP" }, new[] { "Index" })" asp-controller="Function" asp-action="F_ThongSoBTP">3- Điểm Đo Thông Số BTP</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link @Html.IsActive(new[] { "ThongSoTP" }, new[] { "Index" })" asp-controller="Function" asp-action="F_ThongSoTP">4- Điểm Đo Thông Số TP</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link @Html.IsActive(new[] { "ThongSoDo" }, new[] { "Index" })" asp-controller="Function" asp-action="F_ThongSoDo">5- Điểm Đo Thông Số Đo</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link @Html.IsActive(new[] { "ETSMoStyle" }, new[] { "Index" })" asp-controller="Function" asp-action="F_MOStyleSize">6- ETS: MO-Style-Size</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link @Html.IsActive(new[] { "TrackingContact" }, new[] { "Index" })" asp-controller="Function" asp-action="F_TrackingContact">7- TRACKING - Contact List</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link @Html.IsActive(new[] { "TrackingSetup" }, new[] { "Index" })" asp-controller="Function" asp-action="F_TrackingSetup">8- TRACKING - Infor Setup</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link @Html.IsActive(new[] { "TrackingUpload" }, new[] { "Index" })" asp-controller="Function" asp-action="F_TrackingUpload">9- TRACKING - Upload Data</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link @Html.IsActive(new[] { "OnlineFile" }, new[] { "Index" })" asp-controller="Function" asp-action="F_OnlineFiles">10- Online Files</a>
                </li>
            </ul>
            <hr/>
        </div>

        <!-- Nội dung chính -->
        <div class="col-md-10">
            @RenderBody()
        </div>
    </div>
</div>

<!-- Offcanvas cho mobile -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="menuSidebar">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">TÍNH NĂNG</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a asp-controller="Function" asp-action="F_ManageOperation">1- Quản Lý Công Đoạn</a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Function" asp-action="F_ManageFault">2- Quản Lý DS Lỗi</a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Function" asp-action="F_ThongSoBTP">3- Điểm Đo Thông Số BTP</a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Function" asp-action="F_ThongSoTP">4- Điểm Đo Thông Số TP</a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Function" asp-action="F_ThongSoDo">5- Điểm Đo Thông Số Đo</a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Function" asp-action="F_MOStyleSize">6- ETS: MO-Style-Size</a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Function" asp-action="F_TrackingContact">7- TRACKING - Group Contact List</a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Function" asp-action="F_TrackingSetup">8- TRACKING - Infor Setup</a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Function" asp-action="F_TrackingUpload">9- TRACKING - Upload Data</a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Function" asp-action="F_OnlineFiles">10- Online Files</a>
            </li>
        </ul>
    </div>
</div>
