@model ChangePasswordViewModel
@inject Microsoft.Extensions.Localization.IStringLocalizer<QOS.SharedResource> Localizer
@inject Microsoft.Extensions.Localization.IStringLocalizer<QOS.Areas.SystemAdmin.SharedResource> SystemLocalizer

@{
    ViewData["Title"] = Localizer["ChangePassword"];
}

<div class="container mt-5">
<h2 class="mt-5">@Localizer["ChangePassword"]</h2>

<partial name="_AlertMessage" />

<form  asp-controller="SystemAdmin" asp-area="SystemAdmin" asp-action="ChangePassword" method="post" >
    <div class="mb-3">
        <label asp-for="Username" class="form-label">@Localizer["Username"]</label>
        <input asp-for="Username" class="form-control" readonly />
    </div>
    <div class="mb-3">
        <label asp-for="OldPassword" class="form-label">@SystemLocalizer["OldPassword"]</label>
        <input asp-for="OldPassword" class="form-control" />
        <span asp-validation-for="OldPassword" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="NewPassword" class="form-label">@SystemLocalizer["NewPassword"]</label>
        <input asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ConfirmPassword" class="form-label">@Localizer["ConfirmPassword"]</label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary" style="width: 200px;">@SystemLocalizer["ChangePassword"]</button>
    <a asp-action="Index" asp-controller="SystemAdmin" asp-area="SystemAdmin" class="btn btn-secondary" style="width: 200px;">@Localizer["Cancel"]</a>
</form>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
