@model IEnumerable<QOS.Models.User>
@inject QOS.Services.IUserPermissionService _permissionService
@inject Microsoft.Extensions.Localization.IStringLocalizer<QOS.SharedResource> Localizer
@inject Microsoft.Extensions.Localization.IStringLocalizer<QOS.Areas.SystemAdmin.SharedResource> SystemLocalizer
@{
    ViewData["Title"] = "System";
    Layout = "_MenuSystem";
}
@if(_permissionService.HasPermission(User.Identity?.Name, "Sys_Admin"))
{
    <partial name="_AlertMessage" />
<h2>@SystemLocalizer["ManagementUser"]</h2>
<a asp-action="Create" class="btn btn-primary">+ @SystemLocalizer["AddUser"]</a>
<div class="table-container pb-5" id="tableContainer">
    <table class="table table-bordered table-striped mt-3">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>@Localizer["Factory"]</th>
                <th>@SystemLocalizer["Department"]</th>
                <th>@Localizer["Username"]</th>
                <th>@Localizer["FullName"]</th>
                <th>Email</th>
                <th>@SystemLocalizer["UnitCheck"]</th>
                <th>@SystemLocalizer["LineCheck"]</th>
                <th>@SystemLocalizer["UserCreate"]</th>
                <th>@SystemLocalizer["TimeCreate"]</th>
                <th>@Localizer["Action"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.FactoryID</td>
                    <td>@user.TeamID</td>
                    <td>@user.Username</td>
                    <td>@user.FullName</td>
                    <td>@user.Email</td>
                    <td>@user.Unit_Check</td>
                    <td>@user.Line_Check</td>
                    <td>@user.UserUpdate</td>
                    <td>@user.LastUpdate</td>
                    <td>
                        <a asp-action="EditUser" asp-route-id="@user.Id" class="btn btn-sm btn-warning">Sửa</a>
                        <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-sm btn-danger"
                        onclick="return confirm('Xóa user này?')">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
}
else {
    <partial name="_AccessDenied" />
    return;
}
