@model IEnumerable<QOS.Areas.Function.Models.TrackingSetup>
@{
  ViewData["Title"] = "Tracking Setup";
  Layout = "_MenuFunction";
}

<partial name="_AlertMessage" />
<div class="continer my-3">


  <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#trackingModal">Thêm mới</button>
  <div>
    @if (Model != null && Model.Any())
    {
      <table class="table table-bordered table-striped mt-3">
        <thead class="table-dark">
          <tr>
            <th>STT</th>
            <th>ModuleName</th>
            <th>Remark</th>
            <th>UpdateForm_StartRow</th>
            <th>UserUpdate</th>
            <th>LastUpdate</th>
          </tr>
        </thead>
        <tbody>
          @{
            var i = 1;
          }
          @foreach (var u in Model)
          {
            @* var jsonInfor = Newtonsoft.Json.JsonConvert.SerializeObject(u.InforSetups);
            var jsonResult = Newtonsoft.Json.JsonConvert.SerializeObject(u.ResultSetups); *@
            <tr class="row-click" data-modulename="@u.ModuleName">
              <td>@i</td>
              <td>@u.ModuleName</td>
              <td>@u.Remark</td>
              <td>@u.UpdateForm_StartRow</td>
              <td>@u.UserUpdate</td>
              <td>@u.LastUpdate</td>
            </tr>
            i++;
          }

        </tbody>
      </table>
    }
  </div>

  <partial name="_TrackingSetupModal" />

  <script src="~/js/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function () {

      // 👉 Thêm mới
      $("button[data-bs-target='#trackingModal']").click(function () {
        // reset form
        $("#trackingForm")[0].reset();
        $("input[name='ModuleName']").val("");
        $("#tblInfor tbody").empty();
        $("#tblResult tbody").empty();

        // ẩn nút Delete
        $("#btnDelete").hide();
        $(".modal-title").text("Thêm Tracking Setup");

        // gọi Create để lấy dữ liệu mặc định
        $.get('@Url.Action("Create", "TrackingSetup", new { area = "Function" })', function (data) {
          if (data) {
            fillFormData(data);
          }
        });
      });

      // 👉 Sửa (click vào row)
      $(document).on("click", ".row-click", function () {
        var moduleName = $(this).data("modulename");

        $.get('@Url.Action("GetSetup", "TrackingSetup", new { area = "Function" })',
          { moduleName: moduleName },
          function (data) {
            if (data) {
              fillFormData(data);

              $("#btnDelete").show();
              $(".modal-title").text("Sửa Tracking Setup");
              $("#trackingModal").modal("show");
            }
          }
        );
      });

      // 👉 Save
      $("#btnSave").click(function () {
        var model = {
          ModuleName: $("#trackingForm input[name='ModuleName']").val(),
          UpdateForm_StartRow: $("#trackingForm input[name='UpdateForm_StartRow']").val(),
          Remark: $("#trackingForm textarea[name='Remark']").val(),
          InforSetups: [],
          ResultSetups: []
        };

        // Lấy Infor table
        // Lấy Infor table (7 input / dòng: 0..6)
        $("#tblInfor tbody tr").each(function () {
          const inputs = $(this).find("input"); // 0-based!
          model.InforSetups.push({
            SqlColumn: inputs.eq(0).val(),
            Name:      inputs.eq(1).val(),
            Index:     inputs.eq(2).val(),
            DataType:  inputs.eq(3).val(),
            Opt:       inputs.eq(4).val(),
            Column:    inputs.eq(5).val(),
            Remark:    inputs.eq(6).val()
          });
        });

        // Lấy Result table (6 input / dòng: 0..5)
        $("#tblResult tbody tr").each(function () {
          const inputs = $(this).find("input"); // 0-based!
          model.ResultSetups.push({
            SqlColumn:     inputs.eq(0).val(),
            Name:          inputs.eq(1).val(),
            Index:         inputs.eq(2).val(),
            DataType:      inputs.eq(3).val(),
            SelectionData: inputs.eq(4).val(),
            Remark:        inputs.eq(5).val()
          });
        });

        $.ajax({
          url: '@Url.Action("SaveAction", "TrackingSetup", new { area = "Function" })',
          type: "POST",
          contentType: "application/json",
          data: JSON.stringify(model),
          success: function (res) {
            alert(res.message);
            if (res.success) {
              $("#trackingModal").modal("hide");
              location.reload();
            }
          }
        });
      });



      // 👉 Delete
      $("#btnDelete").click(function () {
        if (!confirm("Bạn có chắc muốn xóa?")) return;
        $.post('@Url.Action("Delete", "TrackingSetup", new { area = "Function" })',
          { moduleName: $("#trackingForm input[name='ModuleName']").val() },
          function (res) {
            alert(res.message);
            if (res.success) {
              $("#trackingModal").modal("hide");
              location.reload();
            }
          }
        );
      });

      // 👉 Hàm fill form dùng chung cho Thêm/Sửa
      function fillFormData(data) {
        // Fill input chính
        $("#trackingForm input[name='ModuleName']").val(data.moduleName || "");
        $("#trackingForm input[name='UpdateForm_StartRow']").val(data.updateForm_StartRow || "");
        $("#trackingForm textarea[name='Remark']").val(data.remark || "");

        // Infor table
        var tbodyInfor = $("#tblInfor tbody");
        tbodyInfor.empty();
        if (data.inforSetups) {
          data.inforSetups.forEach(function (row, idx) {
            tbodyInfor.append(`
                <tr>
                    <td>${idx + 1}</td>
                    <td><input class="form-control form-control-sm" name="InforSetups[${idx}].SqlColumn" value="${row.sqlColumn || ''}" /></td>
                    <td><input class="form-control form-control-sm" name="InforSetups[${idx}].Name" value="${row.name || ''}" /></td>
                    <td><input class="form-control form-control-sm" name="InforSetups[${idx}].Index" value="${row.index || ''}" /></td>
                    @* <td><input class="form-control form-control-sm" name="InforSetups[${idx}].DataType" value="${row.dataType || ''}" /></td> *@
                    <td>
                        <input class="form-control form-control-sm" 
                              name="InforSetups[${idx}].DataType" 
                              value="${row.dataType || ''}" 
                              list="datatypeOptions" />
                    </td>
                    <td><input class="form-control form-control-sm" name="InforSetups[${idx}].Opt" value="${row.opt || ''}" list="opt_Options" /></td>
                    <td><input class="form-control form-control-sm" name="InforSetups[${idx}].Column" value="${row.column || ''}" /></td>
                    <td><input class="form-control form-control-sm" name="InforSetups[${idx}].Remark" value="${row.remark || ''}" /></td>
                </tr>
            `);
          });
        }

        // Result table
        var tbodyResult = $("#tblResult tbody");
        tbodyResult.empty();
        if (data.resultSetups) {
          data.resultSetups.forEach(function (row, idx) {
            tbodyResult.append(`
                <tr>
                    <td>${idx + 1}</td>
                    <td><input class="form-control form-control-sm" name="ResultSetups[${idx}].SqlColumn" value="${row.sqlColumn || ''}" /></td>
                    <td><input class="form-control form-control-sm" name="ResultSetups[${idx}].Name" value="${row.name || ''}" /></td>
                    <td><input class="form-control form-control-sm" name="ResultSetups[${idx}].Index" value="${row.index || ''}" /></td>
                    <td>
                        <input class="form-control form-control-sm" 
                              name="ResultSetups[${idx}].DataType" 
                              value="${row.dataType || ''}" 
                              list="datatypeOptions" />
                    </td>
                    <td><input class="form-control form-control-sm" name="ResultSetups[${idx}].SelectionData" value="${row.selectionData || ''}" /></td>
                    <td><input class="form-control form-control-sm" name="ResultSetups[${idx}].Remark" value="${row.remark || ''}" /></td>
                </tr>
            `);
          });
        }
      }

    });
  </script>
