@model QOS.Models.FaultCode
@inject Microsoft.Extensions.Localization.IStringLocalizer<QOS.SharedResource> Localizer
@inject Microsoft.Extensions.Localization.IStringLocalizer<QOS.Areas.Function.SharedResource> FuncLocalizer
@{
    ViewData["Title"] = @FuncLocalizer["F_Fault_delete"];
    Layout = "_MenuFunction";
}

<h2>@FuncLocalizer["F_Fault_delete"]</h2>
<p>@FuncLocalizer["F_Fault_deleteInfo"] <strong>@Model.Fault_Code - @Model.Fault_Name_VN</strong> ?</p>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Fault_Code" />
    <button type="submit" class="btn btn-danger">@Localizer["Delete"]</button>
    <a asp-action="Index" class="btn btn-secondary">@Localizer["Cancel"]</a>
</form>
<p class="text-muted mt-3">@FuncLocalizer["F_Fault_deleteCaution"]</p>