@model IEnumerable<QOS.Models.FaultCode>
@inject Microsoft.Extensions.Localization.IStringLocalizer<QOS.SharedResource> Localizer
@inject Microsoft.Extensions.Localization.IStringLocalizer<QOS.Areas.Function.SharedResource> FuncLocalizer
@{
    ViewData["Title"] = "Manage Fault";
    Layout = "_MenuFunction";
}
<form asp-action="Index" method="get" class="mb-3">
    <div class="input-group">
        <input type="text" name="searchString" value="@Context.Request.Query["searchString"]" class="form-control"
            placeholder="@FuncLocalizer["F_Fault_place"]" />
        <button type="submit" class="btn btn-primary me-2">@Localizer["Search"]</button>
        <a asp-action="Index" class="btn btn-secondary me-2">@Localizer["Reset"]</a>
    </div>
</form>
<h2 class="text-center">@FuncLocalizer["F_Fault_Title"]</h2>
<a asp-action="Create" asp-controller="ManageFault" class="btn btn-primary">+ @FuncLocalizer["F_Fault_Add"]</a>
<table class="table table-bordered mt-3 table-striped">
    <thead class="table-light">
        <tr>
            <th>ID</th>
            <th>@Localizer["Factory"]</th>
            <th>@FuncLocalizer["F_Fault_Add"]</th>
            <th>@FuncLocalizer["F_Fault_Type"]</th>
            <th>@FuncLocalizer["F_Fault_NameVN"]</th>
            <th>@FuncLocalizer["F_Fault_NameEN"]</th>
            <th>@FuncLocalizer["F_Fault_inLine"]</th>
            <th>@FuncLocalizer["F_Fault_endLine"]</th>
            <th>@Localizer["UserUpdate"]</th>

        </tr>
    </thead>
    <tbody>

        @if (Model != null && Model.Any())
        {
            var i = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>@item.Factory</td>
                    <td>@item.Fault_Code</td>
                    <td>@item.Fault_Type</td>
                    <td>@item.Fault_Name_VN</td>
                    <td>@item.Fault_Name_EN</td>
                    <td>@(item.Form4_Active == true ? Localizer["Y"] : Localizer["N"])</td>
                    <td>@(item.Form6_Active == true ? Localizer["Y"] : Localizer["N"])</td>
                    <td>@item.UserUpdate</td>
                    <td>
                        <div class="btn-group">
                            <a asp-action="Edit" asp-controller="ManageFault" asp-route-id="@item.Fault_Code"
                                class="btn btn-sm btn-warning me-4">@Localizer["Edit"]</a>
                            @* <a asp-action="Delete" asp-controller="FaultCode" asp-route-id="@item.Fault_Code" class="btn btn-sm btn-danger">Xóa</a> *@
                            <form asp-action="DeleteAjax" method="post">
                                <input type="hidden" name="faultCode" value="@item.Fault_Code" />
                                <button type="submit" class="btn btn-danger btn-sm me-1">@Localizer["Delete"]</button>
                            </form>
                        </div>
                    </td>
                </tr>
                i++;
            }
        }
        else
        {
            <tr>
                <td colspan="10" class="text-center text-muted">@Localizer["Nodata"]</td>
            </tr>
        }
    </tbody>
</table>