@model IEnumerable<QOS.Models.Team_List>
@inject Microsoft.Extensions.Localization.IStringLocalizer<QOS.SharedResource> Localizer
@inject Microsoft.Extensions.Localization.IStringLocalizer<QOS.Areas.Setting.SharedResource> SetLocalizer
@{
    Layout = "_MenuSetting";
    ViewData["Title"] = Localizer["DepartmentList"];
}

<partial name="_AlertMessage" />
<div>
    <h2>@Localizer["DepartmentList"]</h2>

    <a asp-action="CreateDepartment" class="btn btn-primary">+ @SetLocalizer["AddNew"]</a>
    @if (Model != null && Model.Any())
    {
        <table class="table table-bordered table-striped mt-3">
            <thead class="table-dark">
                <tr>
                    <th>@Localizer["No"]</th>
                    <th>@SetLocalizer["DepartmentCode"]</th>
                    <th>@SetLocalizer["DepartmentName"]</th>
                    <th>@Localizer["Remark"]</th>
                    <th>@SetLocalizer["UserCreate"]</th>
                    <th>@SetLocalizer["DateCreate"]</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var i = 1;
                }
                @foreach (var dep in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td>@dep.TeamID</td>
                        <td>@dep.TeamName</td>
                        <td>@dep.Remark</td>
                        <td>@dep.UserUpdate</td>
                        <td>@dep.LastUpdate</td>
                    </tr>
                    i++;
                }

            </tbody>
        </table>
    }
</div>