@model IEnumerable<QOS.Models.Factory_List>
@inject Microsoft.Extensions.Localization.IStringLocalizer<QOS.SharedResource> Localizer
@inject Microsoft.Extensions.Localization.IStringLocalizer<QOS.Areas.Setting.SharedResource> SetLocalizer
@{
    Layout = "_MenuSetting";
    ViewData["Title"] = "DS nhà máy";
}
<partial name="_AlertMessage" />
<div class="m-3">
    <h2 class="text-uppercase">@Localizer["FactoryList"]</h2>

    <a asp-action="CreateFactory" class="btn btn-primary ">+ @SetLocalizer["AddNew"]</a>
    @if (Model != null && Model.Any())
    {
        <table class="table table-bordered table-striped mt-3">
            <thead class="table-dark">
                <tr>
                    <th>@Localizer["No"]</th>
                    <th>@SetLocalizer["FactoryCode"]</th>
                    <th>@Localizer["Factory"]</th>
                    <th>@Localizer["Remark"]</th>
                    <th>@SetLocalizer["UserCreate"]</th>
                    <th>@SetLocalizer["DateCreate"]</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var i = 1;
                }
                @foreach (var fac in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td>@fac.FactoryID</td>
                        <td>@fac.FactoryName</td>
                        <td>@fac.Remark</td>
                        <td>@fac.UserUpdate</td>
                        <td>@fac.LastUpdate</td>
                    </tr>
                    i++;
                }

            </tbody>
        </table>
    }
</div>