@model IEnumerable<QOS.Models.Unit_List>
@inject Microsoft.Extensions.Localization.IStringLocalizer<QOS.SharedResource> Localizer
@inject Microsoft.Extensions.Localization.IStringLocalizer<QOS.Areas.Setting.SharedResource> SetLocalizer
@{
    Layout ="_MenuSetting";
    ViewData["Title"] = Localizer["UnitList"];
}

<partial name="_AlertMessage" />
<div class=" m-3">
    <h2  class="text-uppercase">@Localizer["UnitList"]</h2>

    <a asp-action="CreateUnit" class="btn btn-primary">+ @SetLocalizer["AddNew"]</a>
    @if (Model != null && Model.Any())
    {
        <table class="table table-bordered table-striped mt-3">
            <thead class="table-dark">
                <tr>
                    <th>@Localizer["No"]</th>
                    <th>@Localizer["Factory"]</th>
                    <th>@Localizer["Zone"]</th>
                    <th>Block</th>
                    <th>@Localizer["Unit"]</th>
                    <th>Act</th>
                    <th>Date_From</th>
                    <th>ETS_SUB</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var i = 1;
                }
                @foreach (var u in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td>@u.Factory</td>
                        <td>@u.Zone</td>
                        <td>@u.Block</td>
                        <td>@u.Unit</td>
                        <td>@u.Act</td>
                        <td>@u.Effect_Date_From</td>
                        <td>@u.ETS_SUB</td>
                    </tr>
                    i++;
                }

            </tbody>
        </table>
    }
</div>